* {
    margin: 0;
    padding: 0;
}

#canvas {
    position: absolute;
    left: 36%;
    top: 5%;
    border: 4px dimgray ridge;
}

#info {
    margin: 100px 0 0 100px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 30px;
}